body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label-file {
  border: 3px solid violet;
  padding: 0.8em;
  border-radius: 8px;
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: violet;
}

.input-file {
  display: none;
}
input {
  margin-top: 4vh;
  border: 3px solid violet;
  padding: 0.8em;
  border-radius: 8px;
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
  background: none;
  font-size: calc(10px + 2vmin);
}
input:hover {
  color: violet;
}
